{% extends "food/base.html" %}
{% block main_area %}
    <h1>음식 영양정보 입력</h1>
 
<form name="f1" method="post">
{% csrf_token %}
    <table width="300" border="1" cellpadding="2" cellspacing="0">
    <tbody>
    <tr>
        <td>먹은 음식 : </td>
        <td><input type="text" name="food_name"></td>
    </tr>
    <tr>
        <td>음식 양 : </td>
        <td><input type="text" name="serving_size"></td>
    </tr>
        </table>
    총 섭취 음식 {{list}}<br>
    총 섭취량 {{amount}}g<br>
    총 칼로리 {{calories}}cal<br>
    총 탄수화물 {{carbon}}g<br>
    총 단백질 {{protein}}g<br>
    총 지방 {{fat}}g<br>
    총 콜레스테롤 {{cholesterol}}g<br>
    <input type="hidden" name="list" value = "{{list}}">
    <input type="hidden" name="amount" value = "{{amount}}">
    <input type="hidden" name="calories" value = "{{calories}}">
    <input type="hidden" name="carbon" value = "{{carbon}}">
    <input type="hidden" name="protein" value = "{{protein}}">
    <input type="hidden" name="fat" value = "{{fat}}">
    <input type="hidden" name="cholesterol" value = "{{cholesterol}}">

</form>
 
<br>
<button type="button" onclick="memReg()">음식입력</button><br>
<a href="/food">[뒤로가기]</a><br>

<script>
function memReg() {
    var form = document.f1;

    form.action = "/food/food_input";
    form.submit();
}
</script>
{% if message %}
<script>alert('{{ message }}');</script>
{% endif %}
{% endblock %}
